appnope==0.1.0
asn1crypto==0.24.0
backcall==0.1.0
cffi==1.11.5
cryptography==2.5
cycler==0.10.0
decorator==4.3.0
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.1
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.15.4
parso==0.3.0
pexpect==4.6.0
pickleshare==0.7.4
powerline-status==2.7
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycallgraph==1.0.1
pycparser==2.19
pydeps==1.7.2
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
simplegeneric==0.8.1
six==1.11.0
stdlib-list==0.5.0
traitlets==4.3.2
virtualenv==16.6.0
wcwidth==0.1.7
